@font-face {
    font-family: 'Tupaki2.5VF';
    src: url('Tupaki2.5VF.ttf') format('truetype');
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

main {
    font-family: 'Tupaki2.5VF', sans-serif;
    font-variation-settings: "RMNC" 0, "CMDY" 0, "ACTN" 0, "THRL" 0;
    background-color: #1b1b1d;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 8rem;
    color: white;
    overflow: hidden;
    /*이것은 스크롤바를 없애는 것*/
}

main:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 10%;
    pointer-events: none;
    opacity: 0.2;
    filter: invert(1);
    background-size: cover;
}

.quote {
    font-family: 'Tupaki2.5VF', sans-serif;
    font-size: 6rem;
    background-size: contain;
    line-height: 1.2;
    margin: 0;
    text-align: left;
    color: white;
}

.text-line {
    display: flex;
    flex-direction: column;

    justify-content: center;

}


@keyframes change {
    0% {
        transform: translateY(-5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}